/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
    
}
/* Tablet + Mobile Layout: 768px. */
@media only screen and (max-width: 991px) { 

.offcanvas-menu {
    width: 60%;
    right: -60%;
}


.single-portfolio-item {
    width: 50%;
}
.portfolio-list {
    margin-bottom: 400px;
}

    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 
.offcanvas-menu {
    right: -100%;
    width: 100%;
}

.single-portfolio-item {
    width: 100%;
    height: 450px;
}

.single-portfolio-item.boxed {
    width: 100%;
}

.footer-area {
    position: relative;
}
.footer-area .col-md-3 {
    margin-bottom: 40px;
}
.portfolio-list {
    margin-bottom: 0;
}


}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}