/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
a:hover { text-decoration: none }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.section-padding {
    padding: 150px 0;
}
.section-bg-1 {
    background-image: url(../img/bg-1.jpg);
    background-size: cover;
    background-position: center top;
    background-color: #ddd;
    color: #fff;
}

.section-overlay {
    position: relative;
    z-index: 1;
}
.section-overlay::after {
    background-color: #333;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}
.section-overlay:hover::after {
    opacity: 0.8;
}
.section-overlay h4 {
    font-size: 15px;
    font-weight: 600;
}
.section-overlay h2 {
    font-weight: 400;
}
.vdo-play-btn {
    background-color: #2297f0;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    margin-top: 15px;
    padding: 12px 30px;
}
