/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
a:hover { text-decoration: none }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.section-padding {
    padding: 80px 0;
}
.pricing-title-warp {
    background-image: url(../img/bg-1.jpeg);
    background-color: #333;
    background-position: center center;
    background-size: cover;
    padding-bottom: 200px;
    padding-top: 40px
}
.pricing-title-warp h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}
.pricing-header {
    background-color: #333;
    display: table;
    height: 250px;
    position: relative;
    text-align: center;
    width: 100%;
}
.pricing-header-inner {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}
.pricing-header-inner h2 {
    font-size: 35px;
    font-weight: 600;
}
.pricing-header-inner p {
    opacity: 0.7;
}
.pricing-sub-title {
    background-color: #f0f0f0;
    font-weight: 700;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}
.pricing-content {
    line-height: 1.8;
    padding: 10px 25px;
}
.pricing-text {
    font-size: 11px;
    opacity: 0.6;
    padding: 0 15px;
}
.special-price {
    background-color: #21252e;
    color: #fff;
    font-size: 17px;
    left: 0;
    line-height: 25px;
    padding: 15px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: -55px;
    width: 100%;
}

.pricing-list-warp {
    margin-top: -110px;
}