/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
a:hover { text-decoration: none }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: 'Muli', sans-serif;
}
.section-padding {
    padding: 80px 0;
}
.portfolio-bg-1 {
    background-image: url(../img/portfolio-1.jpg);
}
.portfolio-bg-2 {
    background-image: url(../img/portfolio-2.jpg);
}
.portfolio-bg-3 {
    background-image: url(../img/portfolio-3.jpg);
}
.portfolio-bg-4 {
    background-image: url(../img/portfolio-4.jpg);
}
.portfolio-bg-5 {
    background-image: url(../img/portfolio-5.jpg);
}
.portfolio-bg-6 {
    background-image: url(../img/portfolio-6.jpg);
}
.portfolio-bg-7 {
    background-image: url(../img/portfolio-7.jpg);
}
.portfolio-bg-8 {
    background-image: url(../img/portfolio-8.jpg);
}
.portfolio-bg-9 {
    background-image: url(../img/portfolio-9.jpg);
}
.portfolio-bg-10 {
    background-image: url(../img/portfolio-10.jpg);
}
.portfolio-bg-11 {
    background-image: url(../img/portfolio-11.jpg);
}

.logo h2 {
    display: inline-block;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}
.logo h2 a {
    color: #000;
}
.logo h2 span {
    font-size: 8px;
    opacity: 0.7;
    position: absolute;
    right: -10px;
    top: 2px;
}
.menu-trigger {
    display: inline-block;
    width: 27px;
}
.menu-trigger span {
    background-color: #000;
    display: block;
    height: 2px;
    transition: all 0.3s ease 0s;
}
.menu-trigger span:nth-child(2) {
    margin: 7px 0;
}
.menu-trigger:hover span:nth-child(1), .menu-trigger:hover span:nth-child(3) {
    margin: 0 7px;
}
.header-area {
    padding: 40px;
}
.single-portfolio-item {
    background-color: #ddd;
    background-position: center center;
    background-size: 100% auto;
    display: table;
    float: left;
    height: 350px;
    transition: all 0.5s ease 0s;
    width: 25%;
}
.portfolio-hover {
    background-color: #fff;
    display: table-cell;
    opacity: 0;
    text-align: center;
    transition: .5s;
    vertical-align: middle;
    visibility: hidden;

}
.portfolio-hover a {
    color: #000;
}
.portfolio-hover h3 {
    font-weight: 500;
    transform: translateY(50px);
    transition: all .5s ease-out .3s;
}
.portfolio-link {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.5;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    transform: translateY(10px);
    transition: all .5s ease-out .3s;
    padding: 10px;
}
.portfolio-link:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    background-color: #fff;
}
.portfolio-link:hover {
    opacity: 1;
}
.single-portfolio-item:hover .portfolio-hover {
    opacity: 1;
    visibility: visible;
}
.single-portfolio-item:hover {
    background-size: 120% auto;
}
.single-portfolio-item:hover .portfolio-hover h3 {
    transform: translateY(-5px);
}
.single-portfolio-item:hover .portfolio-link {
    transform: translateY(0px);
}
.single-portfolio-item.long {
    height: 700px;
}
.single-portfolio-item.boxed {
    height: 700px;
    width: 50%;
}
.portfolio-list {
    position: relative;
    z-index: 2;
}

.footer-area {
    background-color: #613ad6;
    line-height: 2;
    font-size: 20px;
}

.footer-area ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-area a {
    color: #fff;
    opacity: .7;
}
.footer-area a:hover {
    opacity: 1;

}

.header-area {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
.logo.footer-logo a {
    color: #fff;
    opacity: 1;
}
.footer-area {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.portfolio-list {
    margin-bottom: 285px;
}
.footer-area h4 a {
    opacity: 1;
}