/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
a:hover { text-decoration: none }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.section-padding {
    padding: 80px 0;
}

.schedule thead {
    background-color: #f0f0f0;
}
.schedule th {
    text-align: center;
}
.schedule {
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
}
.schedule th, .schedule td {
    border-left: 2px solid #ddd;
    border-top: 2px solid #ddd;
    padding: 20px;
}
.schedule td {
    text-align: center;
}
.schedule td h4 {
    font-weight: 400;
}
