/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
a:hover { text-decoration: none }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.section-padding {
    padding: 80px 0;
}

.overlay-bg-1 {
    background-image: url(../img/overlay-bg-1.jpg);
}
.service-bg-1 {
    background-image: url(../img/bg-1.jpg);
}
.service-bg-2 {
    background-image: url(../img/bg-2.jpg);
}
.service-bg-3 {
    background-image: url(../img/bg-3.jpg);
}
.service-bg-4 {
    background-image: url(../img/bg-4.jpg);
}
.service-bg-5 {
    background-image: url(../img/bg-5.jpg);
}
.service-bg-6 {
    background-image: url(../img/bg-6.jpg);
}
.service-bg-7 {
    background-image: url(../img/bg-7.jpg);
}
.service-bg-8 {
    background-image: url(../img/bg-8.jpg);
}

.section-overlay {
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 2;
    background-color: #ddd;
}
.section-overlay::after, .single-service-box::after {
    background-color: #fbe735;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.single-service-box {
    background-position: center center;
    background-size: 150% auto;
    background-color: #ddd;
    height: 250px;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease 0s;
    z-index: 1;
}
.service-box-warp {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}
.service-box-inner {
    display: table-cell;
    padding: 20px;
    vertical-align: middle;
}
.service-box-inner h2 {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
}
.single-service-box::after {
    background-color: #5d7979;
    opacity: 0.8;
}
.single-service-box:hover {
    background-size: 250% auto;
}
.single-service-box:hover::after {
    opacity: 0.5;
}
